# Virtual Environment
venv/

# Environment Variables
.env

# Python Cache
__pycache__/

# Jupyter Notebook Cache
.ipynb_checkpoints/

# Mac System Files
.DS_Store

# VS Code Settings
.vscode/

# Generated Outputs (Optional)
*.pyc